<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-4">
            {{ form_start(form, { 'attr': { 'class': 'form-floating' } }) }}
                {{ form_errors(form) }}
                <div class="form-floating mb-3">
                    {{ form_widget(form.title, { 'attr': { 'class': 'form-control'} }) }}
                    {{ form_label(form.title, 'Enter the title of the book') }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(form.author, { 'attr': { 'class': 'form-control'} }) }}
                    {{ form_label(form.author, 'Enter the author name') }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(form.pages, { 'attr': { 'class': 'form-control'} }) }}
                    {{ form_label(form.pages, 'Enter the number of pages') }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(form.summary, { 'attr': { 'class': 'form-control'} }) }}
                    {{ form_label(form.summary, 'Provide a short summary of the book') }}
                </div>

                <div class="form-floating mb-3">
                    {{ form_widget(form.genre, { 'attr': { 'class': 'form-control'} }) }}
                    {{ form_label(form.genre, 'Specify the genre') }}
                </div>
                <div class="form-floating mb-3">
                    {{ form_widget(form.imageFile, { 'attr': { 'class': 'form-control'} }) }}
                    {{ form_label(form.imageFile, '(Optional) Upload an image of the book cover.') }}
                </div>

                <button class="btn btn-primary w-100">Submit</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>