{% extends 'base.html.twig' %}

{% block title %}Review{% endblock %}

{% block body %}
    <h1>Review</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ review.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ review.title }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ review.author }}</td>
            </tr>
            <tr>
                <th>Pages</th>
                <td>{{ review.pages }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ review.summary }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ review.genre }}</td>
            </tr>
            <tr>
                <th>Reviewer</th>
                <td>{{ review.reviewer.email }}</td>
            </tr>
            <tr>
                <th>Review_text</th>
                <td>{{ review.reviewText }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_review_index') }}">back to list</a>

    <a href="{{ path('app_review_edit', {'id': review.id}) }}">edit</a>

    {{ include('review/_delete_form.html.twig') }}
{% endblock %}
