<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% for label, messages in app.flashes %}
            <div class="alert alert-{{ label }}">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endfor %}
        {% block header %}
            <nav>
                <ul style="list-style-type: none;">
                    {% if app.user %}
                        <li>
                            <span>{{ app.user.email }}</span> {# Display the user's email #}
                        </li>
                        <li>
                            <form action="{{ path('app_logout') }}" method="POST">
                                <button type="submit">Log out</button>
                            </form> {# Logout button #}
                        </li>
                    {% else %}
                       <form action="{{ path('app_login') }}" method="GET">
                            <button type="submit">Log in</button>
                        </form>
                    {% endif %}
                </ul>
            </nav>
        {% endblock %}
        {% block body %}
        {% endblock %}
    </body>
</html>
